html,body{
	width: 100%;
	height: 100%;
}


.logo{
    width: 100%;
    height: 50%;
    padding: 1%;
    box-shadow: 0em 0em 3em black;
}
.logo img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 12px;
}

.container-fluid{
    width: 100%;
    height: 100%;
}

.container-fluid .video{
    height: 40%;
    width: 60%;
    border: solid crimson .5em;
    border-radius: 10px;
    position: relative;
    top: -10%;
    left: 20%;
    background: black;
}

.container .info {
	width: 50%;
}

.menu{
    -webkit-filter: url(#shadowed-goo);
    filter: url(#shadowed-goo);
    position: fixed;
    width: 20%;
    height: 20%;
    bottom: 3%;
    right: 2%;
}

.menu-item{
    width: 28%;
    background: crimson;
    position: absolute;
    border-radius: 50%;
    right: 0;
    padding: 20% 0;
    bottom: 0;
}

.menu .menu-item:not(:first-child){
    right: 5%;
    width: 18%;
    padding-top: 8%;
    transition: .5s;
    padding-left: 4%;
    padding-bottom: 6%;
}

.burger:hover{
    cursor: pointer;
}

.burger div{
    width: 70%;
    height: 7%;
    background: white;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    transition: .5s;
}

.barOne {
    top: 35%;
    left: 16%;
}

.barTwo{
    left: 16%;
}


.barThree {
    left: 16%;
    bottom: 28%;
}

.change .barOne {
    -webkit-transform: rotate(-51deg) translate(-21%, 100%);
    transform: rotate(-51deg) translate(-21%, 100%);
}
.change .barTwo {
    opacity: 0;
}

.change .barThree {
    -webkit-transform: rotate(51deg) translate(-28%, -126%);
    transform:  rotate(51deg) translate(-28%, -126%);
}

.word{
    opacity: 0;
    transition: .5s;
}

.videoLink{
    opacity: 0;
    transition: .5s;
}

.change-menu .word{
    left: 53%;
    transition: .5s;
    opacity: 1;
}

.change-menu .videoLink{
    bottom: 57%;
    opacity: 1;
    width: 22% !important;
}

a{
    color: black;
}